<div class = "container">
		<div class = "row" style = "text-align: center">
			<div class = "col-md-12">
				<h3 style = "color: #83a8d7">What We Do</h3>
				<p>KRate provides its users with 1) good and substantial reviews, 2) a convenient rating and recommendation system, and 3) an amicable community of K-drama enthusiasts</p>
			</div>
			<div class = "col-md-12">
				<h4 style = "color: #f49d9d">Our Vision</h4>
				<p>KRate exists to provide high-quality user-driven reviews for Korean dramas. KRate envisions itself as the premier online platform for pioneering open and critical expression of ideas, thoughts, and expressions, specifically on Korean dramas. KRate also aims to have the best organizational culture by fostering a sociable, accepting, and open community and creating a positive atmosphere for enthusiasts alike.</p>
			</div>
			<div class = "col-md-12">
				<h4 style = "color: #f49d9d">Our Mission</h4>
				<p>KRate provides a platform where Korean drama fans can embrace their inner enthusiast and openly express their thoughts and feelings by creating reviews about various Korean dramas they have watched. We aim to build a friendly online community that will allow enthusiasts to interact with each other, thus expanding each other's knowledge of and exposure to Korean dramas.</p>
			</div>
			<div class = "col-md-12">
				<h3>
					<a href="" style = "color: #83a8d7">Create Reviews with KRate ></a>
				</h3>
			</div>
		</div>
		<div class = "col-md-12" style = "background-color: #83a8d7; color: white; text-align: center; padding-bottom: 10%;">
			<h3>Meet The Team</h3>
			<br>
			<br>
			<div class = "col-md-offset-1 col-md-2">
				<%= image_tag("WinonaLim.jpg", :alt => "rss feed", :style=> "height: 35%; width: 100%;")%>
				<p>Winona Lim</p>
			</div>
			<div class = "col-md-2">
				<%= image_tag("KlarissaSantos.jpg", :alt => "rss feed", :style=> "height: 35%; width: 100%;")%>
				<p>Klarissa Santos</p>
			</div>
			<div class = "col-md-2">
				<%= image_tag("BiancaTarun.jpg", :alt => "rss feed", :style=> "height: 35%; width: 100%;")%>
				<p>Bianca Tarun</p>
			</div>
			<div class = "col-md-2">
				<%= image_tag("JanineLaddaran.jpg", :alt => "rss feed", :style=> "height: 35%; width: 100%;")%>
				<p>Janine Laddaran</p>
			</div>	
			<div class = "col-md-2">
				<%= image_tag("BenchOfilada.JPG", :alt => "rss feed", :style=> "height: 35%; width: 100%;")%>
				<p>Bench Ofilada</p>
			</div>
		</div>
		<div class = "col-md-12" style = "background-color: #f49d9d; color: white; text-align: center;">
			<h3>Contact us</h3>
			<img src="<%= image_path("KR(colored).png") %>" style = "height: 100px; width: 100px;">
			<h4>Email</h4>
			<h4 style = "padding-bottom: 10px;">kratedramas@gmail.com</h4>
			<h4>SNS</h4>
		</div>
	</div>