<div class="row container" style="padding-top: 40px">
	<div class="col-sm-12" style="margin-left: 70px">
		<div class="row">
			<div class="col-sm-3" style="margin-right: 10px">
				<!-- profile & suggested -->
				<div class="row" style="border: 1px solid #ccc; margin-bottom: 10px">
					<!-- profile -->
					<div class="gradient-bg" style="padding-top: 15px; padding-bottom: 15px">
						<center><div class="image-cropper4">
							<%= image_tag("BenchOfilada.JPG", :class => "rounded", :alt => "rss feed") %>
						</div></center>
					</div>
					<div class="text-center">
						<p style="font-family: Univers; font-size: 20px; margin-top: 15px; color: #83A8D7">BenchAndSnap</p>
						<hr style="width:60%; margin-top: 0px; margin-bottom: 10px">
						<p style="font-family: Univers; font-size: 14px; color: #ccc">YG Stan and Maknae</p>
					</div>
					<div class="deets">
						<div class="col-sm-8" style="margin-left: 0px">
							<p style="font-family: Adam; font-size: 16px; margin-top: 15px; color: #808080">Following:</p>
						</div>
						<div class="col-sm-4 text-center">
							<p style="font-family: Univers; font-size: 16px; margin-top: 15px; color: #83A8D7">125</p>
						</div>
					</div>
					<div class="deets">
						<div class="col-sm-8" style="margin-left: 0px">
							<p style="font-family: Adam; font-size: 16px; margin-top: 15px; color: #808080">Followers:</p>
						</div>
						<div class="col-sm-4 text-center">
							<p style="font-family: Univers; font-size: 16px; margin-top: 15px; color: #83A8D7">2756</p>
						</div>
					</div>
					<div class="deets">
						<div class="col-sm-8" style="margin-left: 0px">
							<p style="font-family: Adam; font-size: 16px; margin-top: 15px; color: #808080">Dramas Rated:</p>
						</div>
						<div class="col-sm-4 text-center">
							<p style="font-family: Univers; font-size: 16px; margin-top: 15px; color: #83A8D7">102</p>
						</div>
					</div>
				</div>


				<div class="row text-center" style="border: 1px solid #ccc">
					<!-- suggested -->
					<div class="row">
						<h4 style="color: #83A8D7">Suggested Dramas</h4>
					</div>
					<div class="row">
						<div class="col-sm-5" style="padding-left: 40px; padding-right: 0px">
							<center><img src="http://www.koreandrama.org/wp-content/uploads/2014/04/Doctor-Stranger-Poster1.jpg" alt="Image" class="img-responsive daebak-img" style="height: 100px"></a></center>
						</div>
						<div class="col-sm-7" style="padding-left: 0px">
							<p style="font-family: Univers; font-size: 16px; padding-top: 40px">Doctor Stranger</p>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-5" style="padding-left: 40px; padding-right: 0px">
							<center><img src="http://www.koreandrama.org/wp-content/uploads/2014/04/Doctor-Stranger-Poster1.jpg" alt="Image" class="img-responsive daebak-img" style="height: 100px"></a></center>
						</div>
						<div class="col-sm-7" style="padding-left: 0px">
							<p style="font-family: Univers; font-size: 16px; padding-top: 40px">Doctor Stranger</p>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-5" style="padding-left: 40px; padding-right: 0px">
							<center><img src="http://www.koreandrama.org/wp-content/uploads/2014/04/Doctor-Stranger-Poster1.jpg" alt="Image" class="img-responsive daebak-img" style="height: 100px"></a></center>
						</div>
						<div class="col-sm-7" style="padding-left: 0px">
							<p style="font-family: Univers; font-size: 16px; padding-top: 40px">Doctor Stranger</p>
						</div>
					</div>
					<hr>
					<p style="margin-bottom: 20px; color: #83A8D7; font-family: Univers; font-size: 16px">See More</p>
				</div>
			</div>


			<div class="col-sm-5" style="border: 1px solid #ccc; width: 48%; margin-right: 10px">
				<!-- feed -->
				<div class="row" style="margin-bottom: 20px">
					<div class="col-sm-12" style="margin-top: 20px; margin-left: 0px; padding-left: 0px">
						<div class="col-sm-3">
							<div class="image-cropper">
							    <!-- <img src="/images/BenchOfilada.JPG" class="rounded" /> -->
							    <%= image_tag("WinonaLim.jpg", :class => "rounded", :alt => "rss feed") %>
							</div>
							<br>
							<p style="font-family: Univers; text-align: center">3 hours ago</p>	
						</div>
						<div class="col-sm-9">
							<div class="row">
								<p style="font-family: Univers; color: #83A8D7">ForTheWin24 recently reviewed Goblin: The Great and Lonely Guardian</p>
								<p style="font-family: Univers">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
						</div>
					</div>
					<div class="pull-right" style="margin-right: 10px">
						<%= image_tag("upvote.png", :class => "rounded", :style => "height: 40px") %>
						<%= image_tag("down vote.png", :class => "rounded", :style => "height: 40px") %>
					</div>
				</div>
				<hr>
				<div class="row" style="margin-bottom: 20px">
					<div class="col-sm-12" style="margin-top: 20px; margin-left: 0px; padding-left: 0px">
						<div class="col-sm-3">
							<div class="image-cropper">
							    <!-- <img src="/images/BenchOfilada.JPG" class="rounded" /> -->
							    <%= image_tag("WinonaLim.jpg", :class => "rounded", :alt => "rss feed") %>
							</div>
							<br>
							<p style="font-family: Univers; text-align: center">3 hours ago</p>	
						</div>
						<div class="col-sm-9">
							<div class="row">
								<p style="font-family: Univers; color: #83A8D7">ForTheWin24 recently reviewed Goblin: The Great and Lonely Guardian</p>
								<p style="font-family: Univers">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
						</div>
					</div>
					<div class="pull-right" style="margin-right: 10px">
						<%= image_tag("upvote.png", :class => "rounded", :style => "height: 40px") %>
						<%= image_tag("down vote.png", :class => "rounded", :style => "height: 40px") %>
					</div>
				</div>
				<hr>
				<div class="row" style="margin-bottom: 20px">
					<div class="col-sm-12" style="margin-top: 20px; margin-left: 0px; padding-left: 0px">
						<div class="col-sm-3">
							<div class="image-cropper">
							    <!-- <img src="/images/BenchOfilada.JPG" class="rounded" /> -->
							    <%= image_tag("WinonaLim.jpg", :class => "rounded", :alt => "rss feed") %>
							</div>
							<br>
							<p style="font-family: Univers; text-align: center">3 hours ago</p>	
						</div>
						<div class="col-sm-9">
							<div class="row">
								<p style="font-family: Univers; color: #83A8D7">ForTheWin24 recently reviewed Goblin: The Great and Lonely Guardian</p>
								<p style="font-family: Univers">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
						</div>
					</div>
					<div class="pull-right" style="margin-right: 10px">
						<%= image_tag("upvote.png", :class => "rounded", :style => "height: 40px") %>
						<%= image_tag("down vote.png", :class => "rounded", :style => "height: 40px") %>
					</div>
				</div>
			</div>


			<div class="col-sm-3 text-center" style="border: 1px solid #ccc">
				<!-- who to follow -->
				<div class="row">
					<h4 style="color: #83A8D7">Who to follow</h4>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="image-cropper3">
							    <%= image_tag("BenchOfilada.JPG", :class => "rounded", :alt => "rss feed") %>
						</div>
					</div>
					<div class="col-sm-9">
						<p style="font-family: Univers; font-size: 16px; padding-top: 10px">Benchita Maldita</p>
						<button type="button" class="followbtn">Follow</button>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-3">
						<div class="image-cropper3">
							    <%= image_tag("BenchOfilada.JPG", :class => "rounded", :alt => "rss feed") %>
						</div>
					</div>
					<div class="col-sm-9">
						<p style="font-family: Univers; font-size: 16px; padding-top: 10px">Benchita Maldita</p>
						<button type="button" class="followbtn">Follow</button>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-3">
						<div class="image-cropper3">
							    <%= image_tag("BenchOfilada.JPG", :class => "rounded", :alt => "rss feed") %>
						</div>
					</div>
					<div class="col-sm-9">
						<p style="font-family: Univers; font-size: 16px; padding-top: 10px">Benchita Maldita</p>
						<button type="button" class="followbtn">Follow</button>
					</div>
				</div>
				<hr>
				<p style="margin-bottom: 20px; color: #83A8D7; font-family: Univers; font-size: 16px">See More</p>
			</div>
		</div>
	</div>
</div>