<br><br>
 <!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <div id="my-slider" class="carousel slide" data-ride="carousel">

                    <!-- Indicators dot nov -->

                    <ol class="carousel-indicators">
                        <li data-target="#my-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#my-slider" data-slide-to="1"></li>
                        <li data-target="#my-slider" data-slide-to="2"></li>
                        <li data-target="#my-slider" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="overlay">Trending</div>
                    <div class="carousel-inner with-hover-main" role="listbox" style="height:500px">
                        <% @trending.each_with_index do |show, key| %>
                            <div class="item <%= key == 0 ? 'active' : '' %>">
                                <%= link_to(show_path(show['id'])) do %>
                                    <img src="http://image.tmdb.org/t/p/w780<%= show['backdrop_path'] %>"border="0" alt="Image and video hosting by TinyPic" class="img-responsive"/> 
                                    <div class="overlay-img" style="height:500px;width:100%;">
                                        <div class="text">
                                            <h5><%= show['title'] %></h5>
                                            <% rating = Review.where(movie_id: show['id']).where('rating is not null').average(:rating) %>
                                            <% recommendations = Review.where(movie_id: show['id']).where(recommend: true).count %>
                                            <h5>Rating: <%= !rating.nil? ? rating.round(2) : 'No ratings yet' %></h5>
                                            <h5>Recommended by: <%= !recommendations.nil? ? recommendations : 'No recommendations yet' %></h5>
                                        </div>
                                    </div>
                                <% end %> 

                            </div>
                        <% end %>
                    </div>

                    <!-- Control or next and prev buttons -->

                    <a class="left carousel-control" href="#my-slider" role="button" data-slide="prev" style="background: #f49d9d">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="right carousel-control" href="#my-slider" role="button" data-slide="next" style="background: #f49d9d">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="col-sm-3">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="background-color: #f49d9d; color: white"><center><p class="tableheading">DAEBAK</p></center></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                            <div class="col-sm-6 daebak">
                                <center><img src="http://www.koreandrama.org/wp-content/uploads/2014/04/Doctor-Stranger-Poster1.jpg" alt="Image" class="img-responsive daebak-img" style="height: 100px"></a></center>
                            </div>
                            <div class="col-sm-6 showtext"><center><br>
                                Doctor Stranger<br>
                                Rating<br>
                                Read Reviews
                                </center>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <div class="col-sm-6 daebak">
                                <center><img src="http://www.koreandrama.org/wp-content/uploads/2014/04/Doctor-Stranger-Poster1.jpg" alt="Image" class="img-responsive daebak-img" style="height: 100px"></a></center>
                            </div>
                            <div class="col-sm-6 showtext"><center><br>
                                Doctor Stranger<br>
                                Rating<br>
                                Read Reviews
                                </center>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <div class="col-sm-6 daebak">
                                <center><img src="http://www.koreandrama.org/wp-content/uploads/2014/04/Doctor-Stranger-Poster1.jpg" alt="Image" class="img-responsive daebak-img" style="height: 100px"></a></center>
                            </div>
                            <div class="col-sm-6 showtext"><center><br>
                                Doctor Stranger<br>
                                Rating<br>
                                Read Reviews
                                </center>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <div class="col-sm-6 daebak">
                                <center><img src="http://www.koreandrama.org/wp-content/uploads/2014/04/Doctor-Stranger-Poster1.jpg" alt="Image" class="img-responsive daebak-img" style="height: 100px"></a></center>
                            </div>
                            <div class="col-sm-6 showtext"><center><br>
                                Doctor Stranger<br>
                                Rating<br>
                                Read Reviews
                                </center>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        
        </div>


        <hr>
                

        <!-- Page Features -->
        <!-- <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://i66.tinypic.com/2h352l5.jpg" border="0" alt="Image and video hosting by TinyPic"></a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://i66.tinypic.com/2h352l5.jpg" border="0" alt="Image and video hosting by TinyPic"></a>
                    
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://i66.tinypic.com/2h352l5.jpg" border="0" alt="Image and video hosting by TinyPic"></a>
                    
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://i66.tinypic.com/2h352l5.jpg" border="0" alt="Image and video hosting by TinyPic"></a>
                </div>
            </div>
        
        </div> -->
            

        <div class="row">
            <div class="col-sm-12">

                <div id="myCarousel" class="carousel slide">
                    
                    <!-- Carousel items -->
                    <div class="overlay">Featured</div>
                    <div class="carousel-inner with-hover" style="height:300px">
                        <div class="item active">
                            <% @featured[0..3].each do |movie| %>
                                <div class="col-sm-3" >
                                    <%= link_to(show_path(movie['id'])) do %>
                                        <img src="http://image.tmdb.org/t/p/w342<%= movie['poster_path'] %>" alt="Image" class="img-responsive">
                                        <div class="overlay-img">
                                            <div class="text">
                                                <h5><%= movie['title'] %></h5>
                                                <% rating = Review.where(movie_id: movie['id']).where('rating is not null').average(:rating)%>
                                                <% recommendations = Review.where(movie_id: movie['id']).where(recommend: true).count %>
                                                <h5>Rating: <%= !rating.nil? ? rating.round(2) : 'No ratings yet' %></h5>
                                                <h5>Recommended by: <%= !recommendations.nil? ? recommendations : 'No recommendations yet' %></h5>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>

                        <div class="item ">
                            <% @featured[4..7].each do |movie| %>
                                <div class="col-sm-3 underlay">
                                    <%= link_to(show_path(movie['id'])) do %>
                                        <img src="http://image.tmdb.org/t/p/w342<%= movie['poster_path'] %>" alt="Image" class="img-responsive">
                                        <div class="overlay-img">
                                            <div class="text">
                                                <h5><%= movie['title'] %></h5>
                                                <% rating = Review.where(movie_id: movie['id']).where('rating is not null').average(:rating)%>
                                                <% recommendations = Review.where(movie_id: movie['id']).where(recommend: true).count %>
                                                <h5>Rating: <%= !rating.nil? ? rating.round(2) : 'No ratings yet' %></h5>
                                                <h5>Recommended by: <%= !recommendations.nil? ? recommendations : 'No recommendations yet' %></h5>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>

                        <div class="item ">
                            <% @featured[8..11].each do |movie| %>
                                <div class="col-sm-3">
                                    <%= link_to(show_path(movie['id'])) do %>
                                        <img src="http://image.tmdb.org/t/p/w342<%= movie['poster_path'] %>" alt="Image" class="img-responsive">
                                        <div class="overlay-img">
                                            <div class="text">
                                                <h5><%= movie['title'] %></h5>
                                                <% rating = Review.where(movie_id: movie['id']).where('rating is not null').average(:rating)%>
                                                <% recommendations = Review.where(movie_id: movie['id']).where(recommend: true).count %>
                                                <h5>Rating: <%= !rating.nil? ? rating.round(2) : 'No ratings yet' %></h5>
                                                <h5>Recommended by: <%= !recommendations.nil? ? recommendations : 'No recommendations yet' %></h5>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                        <!--/item-->
                    </div>
                    <!--/carousel-inner-->

                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="background: #f49d9d">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="background: #f49d9d">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- /.row -->
        <br>

        <div class="row">
            <div class="col-sm-12">

                <div id="myCarousel2" class="carousel slide">
                    
                    <!-- Carousel items -->
                    <div class="overlay">New</div>
                    <div class="carousel-inner with-hover" style="height:300px">
                        <div class="item active">
                            <% @new[0..3].each do |movie| %>
                                <div class="col-sm-3">
                                    <%= link_to(show_path(movie['id'])) do %>
                                        <img src="http://image.tmdb.org/t/p/w342<%= movie['poster_path'] %>" alt="Image" class="img-responsive">
                                        <div class="overlay-img">
                                            <div class="text">
                                                <h5><%= movie['title'] %></h5>
                                                <% rating = Review.where(movie_id: movie['id']).where('rating is not null').average(:rating)%>
                                                <% recommendations = Review.where(movie_id: movie['id']).where(recommend: true).count %>
                                                <h5>Rating: <%= !rating.nil? ? rating.round(2) : 'No ratings yet' %></h5>
                                                <h5>Recommended by: <%= !recommendations.nil? ? recommendations : 'No recommendations yet' %></h5>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>

                        <div class="item ">
                            <% @new[4..7].each do |movie| %>
                                <div class="col-sm-3">
                                    <%= link_to(show_path(movie['id'])) do %>
                                        <img src="http://image.tmdb.org/t/p/w342<%= movie['poster_path'] %>" alt="Image" class="img-responsive">
                                        <div class="overlay-img">
                                            <div class="text">
                                                <h5><%= movie['title'] %></h5>
                                                <% rating = Review.where(movie_id: movie['id']).where('rating is not null').average(:rating)%>
                                                <% recommendations = Review.where(movie_id: movie['id']).where(recommend: true).count %>
                                                <h5>Rating: <%= !rating.nil? ? rating.round(2) : 'No ratings yet' %></h5>
                                                <h5>Recommended by: <%= !recommendations.nil? ? recommendations : 'No recommendations yet' %></h5>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>

                        <div class="item ">
                            <% @new[8..11].each do |movie| %>
                                <div class="col-sm-3">
                                    <%= link_to(show_path(movie['id'])) do %>
                                        <img src="http://image.tmdb.org/t/p/w342<%= movie['poster_path'] %>" alt="Image" class="img-responsive">
                                        <div class="overlay-img">
                                            <div class="text">
                                                <h5><%= movie['title'] %></h5>
                                                <% rating = Review.where(movie_id: movie['id']).where('rating is not null').average(:rating)%>
                                                <% recommendations = Review.where(movie_id: movie['id']).where(recommend: true).count %>
                                                <h5>Rating: <%= !rating.nil? ? rating.round(2) : 'No ratings yet' %></h5>
                                                <h5>Recommended by: <%= !recommendations.nil? ? recommendations : 'No recommendations yet' %></h5>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                        <!--/item-->
                    </div>
                    <!--/carousel-inner-->

                    <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev" style="background: #f49d9d">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next" style="background: #f49d9d">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>