<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <center><div class="field showpicker">
    <select class="selectpicker" data-live-search="true" data-width="45%" name="movie_id">
      <% @movies.each do |movie| %>
        <option value="<%= movie.id %>"><%= movie.title %></option>
      <% end %>
    </select>
  </div></center>
  <center>
    <div class="showimg" id="background-poster">
     <!-- image here -->
    </div>
  </center>
  <center>
  <div class="field">
    <h3>Rate</h3>
<!--     <%= f.number_field :rating %>
 -->  
  rating here
  </div>
  </center>
  <div class="row container field reviewtext">
    <h4>Review</h4>
    <%= f.text_area :review %>
  </div>
  <div class="field checkbox">
    <%= f.check_box :recommend %>
    <font face="Adam" color="#f49d9d"><%= f.label :recommend %></font>
  </div>
  <!-- <div class="field">
    <%= f.label :rated_by %> name of rater
  </div> -->
  <center><div class="actions">
    <%= f.submit 'Submit', :class => 'reviewbtn' %>
  </div></center>
<% end %>
