<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <center><div class="field showpicker">
    <select class="selectpicker" data-live-search="true" data-width="45%" name="movie_id">
      <% @movies.each do |movie| %>
        <option value="<%= movie['id'] %>" <%= movie.id == @selected_show ? 'selected' : '' %>><%= movie.title %></option>
      <% end %>
    </select>
  </div></center>
  <center>
    <div class="showimg" id="background-poster">
     <!-- image here -->
    </div>
  </center>
  <center>
  <div class="field">
    <h3>Rate</h3>
<!--     <%= f.number_field :rating %>
 -->  
  <fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" onchange=""/><label class = "full" for="star5" title="Awesome - 5 stars"><%= image_tag("Rate0.png") %></label>
    
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"><%= image_tag("Rate0.png") %></label>
    
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"><%= image_tag("Rate0.png") %></label>

    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"><%= image_tag("Rate0.png") %></label>
 
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"><%= image_tag("Rate0.png") %></label>
  </fieldset>
  <br>
  <br>
  </div>
  </center>
  <div class="row container field reviewtext">
    <h4>Review</h4>
    <% if user_signed_in? %>
      <%= f.text_area :review %>
      <h6 class="text-center" id="count_message"></h6>
    <% else %>
      You need to be logged in to submit a review
    <% end %>
  </div>

  <div class="field checkbox">
    <%= f.check_box :recommend %>
    <font face="Adam" color="#f49d9d"><%= f.label :recommend %></font>
  </div>
  <div class="field">
    <% if user_signed_in? %>
      <input type="hidden" name="user_id" value="<%=current_user.id%>">
    <% end %>
  </div>
  <center><div class="actions">
    <% if user_signed_in? %>
      <%= f.submit 'Submit', :class => 'reviewbtn' %>
    <% end %>
  </div></center>
<% end %>
