<!DOCTYPE html>
<html>
<head>
  <title>Devproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <!-- Navigation -->
    <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #ffffff; border-top:0.5px solid #cbcbcb; border-bottom: 0.5px solid #cbcbcb" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#"><img id="brand-image" src="http://i67.tinypic.com/1268ad5.png" style="margin-top:-10px; height: 55px; widows: 40px" border="0" alt="Image and video hosting by TinyPic"></a>
               
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav text-center">
                    <li class="active">
                        <a href="reviews/create">
                            <i class="fa fa-pencil-square-o" style="font-size: 24px; color: #f49d9d"></i>
                            <p style="color: #f49d9d">Write Review</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="fa fa-heart" style="font-size: 24px; color: #f49d9d"></i>
                            <p style="color: #f49d9d">Following</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="fa fa-users" style="font-size: 24px; color: #f49d9d"></i>
                            <p style="color: #f49d9d">Community</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="fa fa-search" style="font-size: 24px; color: #f49d9d"></i>
                            <p style="color: #f49d9d">Discover</p>
                        </a>
                    </li>
                </ul>

                <div class="pull-right" style="padding-top: 1%">
                    <!-- <form class="navbar-form navbar-left" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control search-input" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-default search-icon" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </span> -->
                    <form action="" class="search-form navbar-left">
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <input type="text" class="form-control" name="search" id="search" placeholder="Search">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                        <!-- </div>
                    </form> -->


                    <ul class="nav navbar-nav navbar-right">
                        <li class="active" style="height: 35px; border-right: 1px solid #83A8D7">
                            <a href="#" data-target="#login-modal" data-toggle="modal"><font color="#83A8D7">Log In</font></a>
                        </li>
                        <li class="active">
                            <a href="#" data-target="#register" data-toggle="modal"><font color="#83A8D7">Register</font></a>
                        </li>

                        <!-- log-in modal -->

                        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="loginmodal-container">
                                    <h1>Login to Your Account</h1><br>
                                  <form>
                                    <input type="text" name="user" placeholder="Username">
                                    <input type="password" name="pass" placeholder="Password">
                                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                                  </form>
                                    
                                  <div class="login-help">
                                    <a href="#">Register</a> - <a href="#">Forgot Password</a>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="modal fade" id="login" tabindex="-1" role="form">
                            <div class="modal dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Log-in</h4>
                                    </div>

                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="inputUserName">Username</label>
                                                <input class="form-control" placeholder="Login Username" type="text" id="inputUserName">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword">Password</label>
                                                <input class="form-control" placeholder="Login Password" type="password" id="inputPassword">
                                            </div>
                                        </form>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Login</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                    </ul>
                </div>

                    

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

<!-- Footer -->
        <footer>
            <div class="container fluid">
                <div class="row text-center">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-2">
                        <p style="color: #a9a9a9"><u>About</u><br>What We Do<br>Meet The Team<br>Contact Us</p>
                    </div>
                    <div class="col-sm-2">
                        <p style="color: #a9a9a9"><u>Help</u><br>FAQs<br>Terms and Privacy</p>
                    </div>
                    <div class="col-sm-2"></center>
                        <img id="brand-image" src="http://i67.tinypic.com/1268ad5.png"  border="0" alt="Image and video hosting by TinyPic"></a>
                        <h3 style="color: #83a7d7; position: relative"><b>K.RATE</b></h3></center>
                    </div>
                    <div class="col-sm-2">
                        <p style="color: #a9a9a9"><u>Contact Us</u><br>Email Us!<br>kratedramas@gmail.com</p>
                    </div>
                    <div class="col-sm-2">
                        <p style="color: #a9a9a9"><u>Stay Connected</u><br>Like and Follow us:<br>-icons-</p>
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
                <div class="row" style="margin-top: 1%">
                    <div class="col-sm-12" style="color: #f49d9d">
                        <center><p>Copyright &copy; K.RATE Website 2017</p></center>
                    </div>
                </div>
            </div>
        </footer>
        <br>
</body>
</html>
