<!DOCTYPE html>
<html>
<head>
  <title>K-Rate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
</head>
<body>

 <!-- Navigation -->
    <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #ffffff; border-top:0.5px solid #cbcbcb; border-bottom: 0.5px solid #cbcbcb" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/"><img id="brand-image" src="http://i67.tinypic.com/1268ad5.png" style="margin-top:-8px; height: 45px" border="0" alt="Image and video hosting by TinyPic"></a>
               
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav text-center">
                    <li class="active">
                        <%= link_to(new_review_path, method: :get) do %>
                            <i class="fa fa-pencil-square-o" style="font-size: 24px"></i>
                            <p style="font-family: Adam">Write Review</p>
                        <% end %>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="fa fa-heart" style="font-size: 24px"></i>
                            <p style="font-family: Adam">Following</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="fa fa-users" style="font-size: 24px"></i>
                            <p style="font-family: Adam">Community</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="fa fa-search" style="font-size: 24px"></i>
                            <p style="font-family: Adam">Discover</p>
                        </a>
                    </li>
                </ul>

                <div class="pull-right" style="padding-top: 1%">
                    <!-- <form class="navbar-form navbar-left" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control search-input" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-default search-icon" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </span> -->
                    <form action="" class="search-form navbar-left">
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <input type="text" class="form-control" name="search" id="search" placeholder="Search">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                        <!-- </div>
                    </form> -->

    
                    <ul class="nav navbar-nav navbar-right">
                        <% if !user_signed_in? %>
                            <li class="active" style="height: 35px; border-right: 1px solid #83A8D7">
                                <a href="/users/sign_in" data-target="#login-modal" data-toggle="modal" id="navbarright">Log In</font></a>
                            </li>
                            <li class="active">
                                <a href="/users/sign_up" data-target="#login-modal" data-toggle="modal"  id="navbarright">Register</font></a>
                            </li>
                        <% else %>
                            <li class="active" id="navbarright">
                                <%= link_to current_user.username, destroy_user_session_path, :method => :delete %>
                            </li>
                        <% end %>

                    </ul>
                </div>

                    

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="row">
            <div class="col-sm-6" style="padding-right: 0px">
                <div class="loginmodal-container1">
                    <h1>Create a new account</h1><br>
                  <!-- <form>
                    <input type="text" name="user" placeholder="Username">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                  </form> -->
                    <%= form_for(:user, url: registration_path(:user)) do |f| %>
                        <%= f.label :username %><br />
                        <%= f.text_field :username, autofocus: true %>

                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true %>

                        <%= f.label :password %>
                        <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                        <%= f.password_field :password, autocomplete: "off" %>
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "off" %>

                      <div class="actions">
                        <center><%= f.submit "Sign Up", class: 'loginmodal-submit1' %></center>
                      </div>

                      <p style="font-family: Univers">By signing up, I am agreeing to the Terms and Service and Privacy Policy.</p>
                    <% end %>

                </div>
            </div>
            <div class="col-sm-6" style="padding-left: 0px">
                <div class="loginmodal-container2">
                <div class="row pull-right">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                    <h1>Log In</h1><br>
                  <!-- <form>
                    <input type="text" name="user" placeholder="Username">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                  </form> -->
                    <%= form_for(:user, url: session_path(:user)) do |f| %>
                        <%= f.label :username %><br />
                        <%= f.text_field :username, autofocus: true %>

                        <%= f.label :password %><br />
                        <%= f.password_field :password, autocomplete: "off" %>
                      <% if devise_mapping.rememberable? -%>
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                      <% end -%>

                      <div class="actions">
                        <center><%= f.submit "Log in", class: 'loginmodal-submit2' %></center>
                      </div>
                    <% end %>

                  <div class="login-help">
                    <a href="#">Forgot Password</a>
                  </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <% flash.each do |name, msg| %>

      <% if msg.class == Array %>
        <% msg.each do |message| %>
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= message %>
            </div>
        <% end %>
      <% else %>
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= msg %>
            </div>
      <% end %>
    <% end %>

    <%= yield %>

    <hr>

<!-- Footer -->
        <footer style="margin-top:50px;">
            <div class="container fluid">
                <div class="row text-center">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-2">
                        <p style="color: #a9a9a9"><p class="footerhead"><u><%= link_to 'About Us', startup_about_us_path %></u></p>
                        <p class="footertext">What We Do<br>Meet The Team<br>Contact Us</p>
                    </div>
                    <div class="col-sm-2">
                        <p style="color: #a9a9a9"><p class="footerhead"><u>Help</u></p>
                        <p class="footertext">FAQs<br>Terms and Privacy</p>
                    </div>
                    <div class="col-sm-2"></center>
                        <img id="brand-image" src="http://i67.tinypic.com/1268ad5.png"  border="0" alt="Image and video hosting by TinyPic"></a>
                        <h3 style="color: #83a7d7; position: relative"><b>K.RATE</b></h3></center>
                    </div>
                    <div class="col-sm-2">
                        <p style="color: #a9a9a9"><p class="footerhead"><u>Contact Us</u></p>
                        <p class="footertext">Email Us!<br>kratedramas@gmail.com</p>
                    </div>
                    <div class="col-sm-2">
                        <p style="color: #a9a9a9"><p class="footerhead"><u>Connect</u></p>
                        <p class="footertext">Like and Follow us:<br>-icons-</p>
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
                <div class="row" style="margin-top: 1%">
                    <div class="col-sm-12" style="color: #f49d9d">
                        <center><p class="footertext">Copyright &copy; K.RATE Website 2017</p></center>
                    </div>
                </div>
            </div>
        </footer>
        <br>
</body>
</html>
